
html {
    scroll-behavior: smooth;
}
h1 {
    font-family: StardewFont;
    text-align: center;
    font-size: 60px;
}
h2 {
    font-family: StardewFont;
    text-align: center;
    font-size: 50px;
}
h3 {
    font-family: StardewFont;
    font-size: 40px;
    margin-right: 400px;
    margin-left: 400px;
}
nav{
    text-align: center;
}
p{
    margin-right: 400px;
    margin-left: 400px;

}
ul{
    margin-right: 400px;
    margin-left: 400px;

}
body {
    display: block;
    /* background-color: #8EE5BE; */
    background-image: url("images/valleybackgroundfilter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*  background-color: #cccccc;*/
    color: #1D1A11;
    font-family: Arial, sans-serif;
    font-size: 24px;
    line-height: 1.4;
    text-decoration: none;
    margin: 0 1rem 0 1rem;
}
@font-face {
    font-family: StardewFont;
    src: url("fonts/Stardew_Valley.ttf");
}
#cy {
     width: 65vw;
     height:100vh;
     position:absolute;
     margin:auto;
     border-style:double;
 }
img.character_dialogue{
width: 100%;
    
}
div{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.cc {
    max-width: 100px;
}
img.chick{
    width:50px;
}
img.player{
    margin-right: 400px;
    margin-left: 400px;
}